.profilePic {
  height: var(--profile-pic-height-s);
}

.title {
  display: inline-block;
}

.title:hover {
  text-decoration: underline;
}

.username {
  color: var(--sub-text-color);
}

.username:hover {
  text-decoration: underline;
}

.postPreview {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  transition: background-color 0.25s;
  padding-inline: 10px;
  padding-block: 10px;

}

.topRow {
  display: flex;
  gap: 10px;
}

.thumbnailContainer {
  height: var(--thumbnail-size);
  border-radius: 10px;
  overflow:hidden;
}

.thumbnail {
  width: var(--thumbnail-size);
  transition: filter 0.3s,  scale 0.2s;
}

.thumbnail:hover {
  scale: 1.1;
  filter: brightness(95%);
}

@media screen and (max-width: 400px) {
  .thumbnail {
    width: 150px;
  }
}