.profilePic {
  height: var(--profile-pic-height-s);
}

.username{
  color: var(--sub-text-color);
}

.postPreview {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  transition: background-color 0.25s;
  padding-inline: 10px;
  padding-block: 10px;

}

.postPreview:hover {
  background-color: var(--post-hover-color);
}

.text {
  word-break: break-all;
}

.topRow {
  display: flex;
  gap: 10px;
}

.date, .likesCount {
  color: var(--sub-text-color);
}

.img {
  width: var(--thumbnail-size);
}

@media screen and (max-width: 400px) {
  .img {
    width: 150px;
  }
}