.profilePic {
  height: var(--profile-pic-height-s);
}

.postPreview {
  display: flex;
  border-bottom: 1px solid var(--border-color);
}

.topRow {
  display: flex;
  gap: 10px;
}

.date, .likesCount {
  color: var(--sub-text-color);
}
