.profilePic {
  height: var(--profile-pic-height-l);
}

.navOptions {
  display: flex;
}
.navOptions > *{
  padding-inline: 20px;
}

.navOptions > *:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--text-color);
}