.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoAndForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

@media screen and (max-width: 1300px) {
  .logoAndForm {
    display: flex;
    flex-direction:column;
  }
}

.logo {
  margin: auto;
}

.input {
  width: var(--login-input-width);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  gap: 10px;
}

.guestLogin {
  cursor: pointer;
  font-weight: 500;
  color: var(--splash-color);
}

.guestLogin:hover {
  text-decoration: underline;
}

.link:hover {
  text-decoration: underline;
}

.errorsList {
  display: flex;
  flex-direction: column;
}

.error {
  font-size: 80%;
  color: var(--sub-text-color);
}