.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-bottom: 30px;
  gap: 10px;
}

.guestLogin {
  cursor: pointer;
}

.errorsList {
  display: flex;
  flex-direction: column;
}

.error {
  font-size: 80%;
  color: var(--sub-text-color);
}