.profilePic {
  height: var(--profile-pic-height-s);
}

.postText {
  font-size: 1.2rem;
}

.date, .likesCount{
  color: var(--sub-text-color);
}

.unliked {
  cursor: pointer;
  display: inline-block;
  color: var(--sub-text-color);
  text-align: center;
}

.unliked:hover {
  color: var(--splash-color);
}

.liked {
  cursor: pointer;
  color: var(--splash-color);
  display: inline-block;
  fill: currentColor;

  & > * {
    color: var(--splash-color);
  };
}

.img {
  width: 400px;
}

@media screen and (max-width: 400px) {
  .img {
    width: 150px;
  }
  
}