.profilePic {
  height: var(--profile-pic-height-s);
}

.postSection {
  margin-bottom: 40px;
}

.title {
  font-size: 1.2rem;
  word-break: break-all;
}

.username:hover {
  text-decoration: underline;

}

.description {

}

.userRow {
  display: block;
}

.userRowOptions {
  display: flex;
  gap: 10px;
}


.date, .likesCount{
  color: var(--sub-text-color);
}

.unliked {
  cursor: pointer;
  display: inline-block;
  color: var(--sub-text-color);
  text-align: center;
}

.unliked:hover {
  color: var(--splash-color);
}

.liked {
  cursor: pointer;
  color: var(--splash-color);
  display: inline-block;
  fill: currentColor;

  & > * {
    color: var(--splash-color);
  };
}

.writeCommentSection {
  display: flex;
}

.writeComment {
  flex: auto;
}

.img {
  width: 400px;
}

@media screen and (max-width: 400px) {
  .img {
    width: 150px;
  }
  
}

.subText {
  color: var(--sub-text-color);
  font-size: 90%;
}

.iconContainer {
  display: flex;
  gap: 10px;
  justify-content: end;
}
