.profilePic {
  height: var(--profile-pic-height-s);
}

.following {
  color: var(--sub-text-color);
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.row:hover {
  background-color: var(--post-hover-color);
}