@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Noto Sans',  system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e6ecf0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg: white;
  --main-text-color: black;
  --sub-text-color: #484848;
  --border-color : #848484;
  --splash-color: blue;
  --tag-color: #006eff;
  --post-hover-color: #dfeaff;
  --shadow-color: rgb(172, 172, 172);

  --thumbnail-size: 200px;

  --profile-pic-height-s: 25px;
  --profile-pic-height-m: 60px;
  --profile-pic-height-l: 150px;

  --logo-l: 300px;
  --icon-s: 20px;

  --login-input-width: 80%;
}

* {
  box-sizing: border-box;
}

header {
  background-color: var(--bg);
  padding-inline: 20px;
  width: 100%;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow-color) 0px 1px 5px;
}

a {
  font-weight: 500;
  color: var(--main-text-color);
  text-decoration: inherit;
}

a:hover {

}

body {
  margin: 0;
  /* min-width: 320px; */
  min-height: 100vh;
  background-color: #e6ecf0;
  color: var(--main-text-color);
}

#root {
  width: 99svw;
  height: 100svh;
  display: flex;
  flex-direction: column;
  place-items: center;
}

main {
  width: 50%;
  margin-top: 50px;
  padding-inline: 20px;
  padding-block: 20px;
  background-color: var(--bg);
  border-radius: 2%;
}

@media screen and (max-width: 400px) {
  main {
    width: 80%;
  margin-top: 30px;
  }
}

dialog {
  background-color: var(--bg);
  color: var(--main-text-color);
  border: 1px solid var(--border-color);
}

dialog::backdrop {
  background-color: rgba(22, 22, 22, 0.57);
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
  margin: 0;
}

ul {
  padding-inline-start: 0px;
}

button {
  border-radius: 8px;
  border: 1px solid var(--border-color);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg);
  cursor: pointer;
  color: var(--main-text-color);
  transition: border-color 0.35s;
}
button:hover {
  background-color: var(--splash-color);
  border-color: #646cff;
  color: var(--bg);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.profilePic {
  height: 40px;
}

input[type=text],
input[type=password],
textarea {
  background-color:var(--bg);
  color: var(--main-text-color);
  font-family: 'Noto Sans',  system-ui, Helvetica, Arial, sans-serif;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  /* width: 60%; */
  padding: 10px;
}

input[type=submit] {
  background-color: var(--main-text-color);
  color: var(--bg);
  border: 1px solid var(--main-text-color);
  padding-block: 10px;
  padding-inline: 20px;
  border-radius: 8px;
}

input[type=submit]:hover {
  cursor: pointer;
  background-color: var(--splash-color);
  border: 1px solid var(--splash-color);
  color: var(--bg);
}

.icon {
  height: var(--icon-s);
  display: inline-block;
}